.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sec .content {
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  
  .mxw800p {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
  }
  
  P {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  
  .btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #fff;
  }
  